.section {
    border: 1px solid grey;
    margin: 10px 10px 10px;

    .section-header {
        height: 30px;
        line-height: 30px;
        border-bottom: 1px solid grey;

        span {
            margin-left: 10px;
        }
    }

    .section-body {
        margin: 12px;

        .form_group {
            margin-bottom: 5px;
            display: flex;
            align-items: center;
        }

        .form_group{       
            .required::before{
                content: '*';
                color: red;
            }
            // .label{
            //     width: 400px;    
            // }  
            .input_wraper{       
                width: calc(100% - 400px);
                .code-input{
                    width: 30%;
                }
                .name-input{
                    width: 85%;
                }                 
            }
            .flex {
              
                    display: flex;
                    align-items: center; 
                
            }
        }
    }

}
.container-checkbox{
    padding-left: 22px!important;
}

h2 {
    color: rgba(80,80,80, 0.5);
}