<form [formGroup]="additionGroup">

    <div class="form_group">
        <div class="label">
            <label for="">Լիազորագիր</label>
        </div>
        <div class="input_wraper">
            <input formControlName="proxy">

        </div>
    </div>

    <div class="form_group">
        <div class="label">
            <label for="">Միջնորդ</label>
        </div>
        <div class="input_wraper">
            <!-- <p-dropdown [options]="documentKind" optionLabel="text" placeholder="Ընտրեք" formControlName="intermediary"></p-dropdown> -->
            <app-modal-dropdown [isDisabledInput]="true" [property]="'id'" [inputValue]="setInputValue('intermediary','text')"
                [selectObject]="additionGroup.get('intermediary').value" 
                (setValue)="setValue($event,'intermediary')" [array]="documentKind" [modalName]="getModalName()">
            </app-modal-dropdown>
        </div>
    </div>
    <div class="form_group">
        <div class="label">
            <label for="">Ավտ/Բեռնարկղ</label>
        </div>
        <div class="input_wraper">
            <input formControlName="carType">
        </div>
    </div>
    <div class="form_group">
        <div class="label">
            <label for="">Գլխավոր հաշվապահ</label>
        </div>
        <div class="input_wraper ">
            <input formControlName="chiefAccountant">
        </div>
    </div>

    <div class="form_group">
        <div class="label">
            <label for="">Թույլատրեց</label>
        </div>
        <div class="input_wraper">
            <!-- <p-dropdown [options]="documentKind" optionLabel="text" placeholder="Ընտրեք" formControlName="allowed">
            </p-dropdown> -->
            <app-modal-dropdown [isDisabledInput]="true" [property]="'id'" [inputValue]="setInputValue('allowed','text')"
                [selectObject]="additionGroup.get('allowed').value" 
                (setValue)="setValue($event,'allowed')" [array]="documentKind" [modalName]="getModalName()">
            </app-modal-dropdown>
        </div>
    </div>

    <div class="form_group">
        <div class="label">
            <label for="">Ընդունեց</label>
        </div>
        <div class="input_wraper">
            <input formControlName="taken">
        </div>
    </div>
    <div class="transport_container">
        <div class="form_group">
            <div class="label">
                <label for="">Տրանսպորտային փատաթղթի N</label>
            </div>
            <div class="input_wraper">
                <input formControlName="transportDocumentationNumber">
            </div>
        </div>

        <div class="form_group">
            <div class="date_label">
                <label for="">ա/թ․</label>
            </div>
            <div>
                <p-calendar rPCalendarMask  appendTo="body" formControlName="date" [placeholder]="'Օր/Ամիս/Տարի'" dateFormat="dd/mm/yy"
                    [locale]="calendarConfig">
                </p-calendar>
            </div>
        </div>
    </div>
</form>