.form_group{
    .label{
        width: 345px;
    }
    .input_wraper{
        width: calc(100% - 345px);
    }
}
.first_section{
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid grey;  
}
.second_section{
    padding: 10px 10px 0 10px;
}
.container-checkbox{
    padding-left: 22px !important;
}
:host::ng-deep{
    .full_dropdown{
        p-dropdown{
            width: 300px !important;
            .ui-dropdown{
                width: 90%;
            }
        }
    }
    .middle_dropdown{
        p-dropdown{
            width: 230px !important;
            .ui-dropdown{
                width: 90%;
            }
        }
    }
    .small_dropdown{
        p-dropdown{
            width: 175px !important;
            .ui-dropdown{
                width: 90%;
            }
        }
    }
}
@media only screen and (max-width: 1200px) {
    .text{
        font-size: 11px !important;
    }  
}