.form_group{     
    .label{
        width: 210px;
     
    } 
    .input_wraper{
        width: calc(100% - 210px);     
    }
}
.first-section{
    margin-top: 25px;
    display: flex;
    align-items: center;
}
textarea{
    width: 80%;
}

.right{
    margin-left: 25px;
    .right_label{
        width: fit-content !important;   
        margin-right: 5px;  
        label{
            font-size: 15px;                
        }     
     
    } 
    .wrapper{
        width: 160px !important;
    }
    input{
        width:130px;
    }
}