.form_group{       
    .label{
        width: 270px;    
    }  
    .input_wraper{       
        width: calc(100% - 270px);
    }
}
:host::ng-deep{
    .full-dropdown{
        p-dropdown{
            width: 85%;
            .ui-dropdown{
                width: 100%;
            }
        }
    }
}