<form action="" [formGroup]="commisionGroup">
    <div class="form_group">
        <div class="label">
            <label for="">Հանձնաժողովի նախագահի Ա․Ա․Հ․</label>
        </div>
        <div class="input_wraper full-dropdown">
            <p-dropdown formControlName="commisionChairmanName"></p-dropdown>

        </div>
    </div>

    <div class="form_group">
        <div class="label">
            <label for="">Հանձնաժողովի նախագահի պաշտոն</label>
        </div>
        <div class="input_wraper full-dropdown">
            <p-dropdown formControlName="commisionChairmanPosition"></p-dropdown>
        </div>
    </div>
    <div class="form_group">
        <div class="label">
            <label for="">Հանձնաժողովի անդամի Ա․Ա․Հ․</label>
        </div>
        <div class="input_wraper full-dropdown">
            <p-dropdown formControlName="commisionMemberName1"></p-dropdown>

        </div>
    </div>
    <div class="form_group">
        <div class="label">
            <label for="">Հանձնաժողովի անդամի պաշտոն</label>
        </div>
        <div class="input_wraper full-dropdown">
            <p-dropdown formControlName="commisionMemberPosition1"></p-dropdown>

        </div>
    </div>
    <div class="form_group">
        <div class="label">
            <label for="">Հանձնաժողովի անդամի Ա․Ա․Հ․</label>
        </div>
        <div class="input_wraper full-dropdown">
            <p-dropdown formControlName="commisionMemberName2"></p-dropdown>

        </div>
    </div>
    <div class="form_group">
        <div class="label">
            <label for="">Հանձնաժողովի անդամի պաշտոն</label>
        </div>
        <div class="input_wraper full-dropdown">
            <p-dropdown formControlName="commisionMemberPosition2"></p-dropdown>

        </div>
    </div>
</form>