<app-modal-header [title]="title" (close)="close()"></app-modal-header>

<div class="forms-container">
    <form [formGroup]="formGroup">
        <div class="form_group">
            <div class="label">
                <label class="required" for="">Կոդ</label>
            </div>
            <div class="input_wraper">
                <input class="code-input" formControlName="code">
                <span class="validate_error"
                    *ngIf="formGroup.get('code').hasError('required') && formGroup.get('code').touched"><i
                        class="material-icons">
                        close
                    </i></span>
            </div>
        </div>
        <div class="form_group">
            <div class="label">
                <label class="required" for="">Անվանում</label>
            </div>
            <div class="input_wraper">
                <input class="name-input" formControlName="unit">
                <span class="validate_error"
                    *ngIf="formGroup.get('unit').hasError('required') && formGroup.get('unit').touched">
                    <i class="material-icons">
                        close
                    </i>
                </span>
            </div>
        </div>
        <div class="form_group">
            <div class="label">
                <label class="required" for="">Հապավում</label>
            </div>
            <div class="input_wraper">
                <input class="name-input" formControlName="abbreviation">
                <span class="validate_error"
                    *ngIf="formGroup.get('abbreviation').hasError('required') && formGroup.get('abbreviation').touched">
                    <i class="material-icons">
                        close
                    </i>
                </span>
            </div>
        </div>
        <!-- <div class="form_group">
            <div class="label">
                <label class="required" for="">Կոտորակային մաս</label>
            </div>
            <div class="input_wraper">
                <p-checkbox ></p-checkbox>
                <span class="validate_error"
                    *ngIf="formGroup.get('fractionalPart').hasError('required') && formGroup.get('fractionalPart').touched">
                    <i class="material-icons">
                        close
                    </i>
                </span>
            </div>
        </div> -->

        <div class="buttons">
            <button (click)="addForm()">Կատարել</button>
            <button (click)="close()">Դադարեցնել</button>
        </div>
    </form>
 
</div>

