.forms-container{
  border: 1px solid grey;
  padding: 5px;
  margin-top: 15px;
  .form_group{
      .required::before{
          content: '*';
          color: red;
      }
      .label{
          width: 200px;
      }
      .input_wraper{
          width: calc(100% - 200px);
          .code-input{
              width: 50%;
          }
          .name-input{
              width: 200px;
          }
      }
  }
}

