<app-modal-header [title]="title" (close)="close()"></app-modal-header>
<!-- <div class="error">{{error}}</div> -->
<form class="group" [formGroup]="cashLeaveOrderGroup" action="">
    <div class="form_group">
        <div class="label">
            <label for=""><span>*</span> Դրամարկղ</label>
        </div>
        <div class="input_wraper date">
            <app-modal-dropdown [property]="'code'" [inputValue]="setInputValue('boxOffice','code')"
              
                [selectObject]="cashLeaveOrderGroup.get('boxOffice').value" (setValue)="setValue($event,'boxOffice')"
                [array]="cashRegisters" [modalParams]="setModalParams('Դրամարկղ','code','Կոդ')">
            </app-modal-dropdown>
            <span class="selected-element-name"
                *ngIf="cashLeaveOrderGroup.get('boxOffice').value">{{cashLeaveOrderGroup.get('boxOffice').value.name}}</span>
            <span class="validate_error"
                *ngIf="cashLeaveOrderGroup.get('boxOffice').hasError('required') && cashLeaveOrderGroup.get('boxOffice').touched">
                <i class="material-icons">
                    close
                </i>
            </span>
        </div>
    </div>
    <div class="first-section">
        <div class="form_group date-group">
            <div class="label">
                <label for=""><span>*</span> Ամսաթիվ</label>
            </div>
            <div class="input_wraper date">
                <p-calendar rPCalendarMask formControlName="date" [placeholder]="'Օր/Ամիս/Տարի'" dateFormat="dd/mm/yy"
                    [locale]="calendarConfig"> </p-calendar>
                <span class="validate_error"
                    *ngIf="cashLeaveOrderGroup.get('date').hasError('required') && cashLeaveOrderGroup.get('date').touched"><i
                        class="material-icons">
                        close
                    </i></span>
            </div>
        </div>
        <div class="form_group right">
            <div class="right_label label">
                <label for=""><span>*</span> Փաստաթղթի N</label>
            </div>
            <div class="input_wraper right_wraper">
                <input formControlName="folderNumber" type="number">
                <span class="validate_error"
                    *ngIf="cashLeaveOrderGroup.get('folderNumber').hasError('required') && cashLeaveOrderGroup.get('folderNumber').touched"><i
                        class="material-icons">
                        close
                    </i></span>
            </div>
        </div>
    </div>

    <div class="card-group" action="">
        <div class="card">
            <app-card [header]="''">
                <div class="form_group">
                    <div class="label">
                        <label for="">Թղթակցող հաշիվ</label>
                    </div>
                    <div class="input_wraper">
                        <app-modal-dropdown [property]="'account'"
                            [inputValue]="setInputValue('correspondentAccount','account')"
                           
                            [selectObject]="cashLeaveOrderGroup.get('correspondentAccount').value"
                            (setValue)="setValue($event,'correspondentAccount')" [array]="chartAccounts"
                            [modalParams]="setModalParams('Հաշվային պլան','account','Հաշիվ')">
                        </app-modal-dropdown>
                        <span class="selected-element-name"
                            *ngIf="cashLeaveOrderGroup.get('correspondentAccount').value">{{cashLeaveOrderGroup.get('correspondentAccount').value.name}}
                        </span>

                    </div>
                </div>
                <div class="form_group">
                    <div class=" label">
                        <label for="">Դրամ․ արտ․ հաշիվ</label>
                    </div>
                    <div class="input_wraper">
                        <app-modal-dropdown [property]="'account'" [inputValue]="setInputValue('dramAccount','account')"
                            [selectObject]="cashLeaveOrderGroup.get('dramAccount').value"
                            (setValue)="setValue($event,'dramAccount')" [array]="chartAccounts"
                            [modalParams]="setModalParams('Հաշվային պլան','account','Հաշիվ')">
                        </app-modal-dropdown>
                        <span class="selected-element-name"
                            *ngIf="cashLeaveOrderGroup.get('dramAccount').value">{{cashLeaveOrderGroup.get('dramAccount').value.name}}
                        </span>
                    </div>
                </div>
                <div class="form_group">
                    <div class=" label">
                        <label for="">Անալիտիկ խումբ 1</label>
                    </div>
                    <div class="input_wraper">
                        <app-modal-dropdown [property]="'code'" [inputValue]="setInputValue('analyticalGroup1','code')"
                            [selectObject]="cashLeaveOrderGroup.get('analyticalGroup1').value"
                            (setValue)="setValue($event,'analyticalGroup1')" [array]="analyticalGroup1"
                            [modalParams]="setModalParams('Անալիտիկ խումբ 1','code','Կոդ')">
                        </app-modal-dropdown>
                        <span class="selected-element-name"
                            *ngIf="cashLeaveOrderGroup.get('analyticalGroup1').value">{{cashLeaveOrderGroup.get('analyticalGroup1').value.name}}</span>
                    </div>
                </div>
                <div class="form_group">
                    <div class=" label">
                        <label for="">Անալիտիկ խումբ 2</label>
                    </div>
                    <div class="input_wraper">
                        <app-modal-dropdown [property]="'code'" [inputValue]="setInputValue('analyticalGroup2','code')"
                            [selectObject]="cashLeaveOrderGroup.get('analyticalGroup2').value"
                            (setValue)="setValue($event,'analyticalGroup2')" [array]="analyticalGroup2"
                            [modalParams]="setModalParams('Անալիտիկ խումբ 2','code','Կոդ')">
                        </app-modal-dropdown>
                        <span class="selected-element-name"
                            *ngIf="cashLeaveOrderGroup.get('analyticalGroup2').value">{{cashLeaveOrderGroup.get('analyticalGroup2').value.name}}
                        </span>
                    </div>
                </div>

                <div class="form_group">
                    <div class=" label">
                        <label for=""><span>*</span>Արժույթ</label>
                    </div>
                    <div class="input_wraper">
                        <app-modal-dropdown [inputProperty]="'currency'" [property]="'id'" [inputValue]="setInputValue('currency','currency')"
                            [selectObject]="cashLeaveOrderGroup.get('currency').value"
                            (setValue)="setValue($event,'currency')" [array]="currencies"
                            [modalParams]="setModalParams('Արժույթներ','currency','Կոդ')">
                        </app-modal-dropdown>
                        <span class="selected-element-name"
                            *ngIf="cashLeaveOrderGroup.get('currency').value">{{cashLeaveOrderGroup.get('currency').value.name}}
                        </span>
                        <span class="validate_error"
                            *ngIf="cashLeaveOrderGroup.get('currency').hasError('required') && cashLeaveOrderGroup.get('currency').touched"><i
                                class="material-icons">
                                close
                            </i></span>
                    </div>
                </div>
            </app-card>
            <div class="card">
                <app-card [header]="'Գումար'">

                    <div class="beside-dropdowns">
                        <div class="form_group">
                            <div class="label">
                                <label for=""><span>*</span> Արժույթով</label>
                            </div>
                            <div class="input_wraper">
                                <input type="text" formControlName="amountcurrency">
                                <!-- <p-dropdown formControlName="amountcurrency"></p-dropdown> -->
                                <span class="validate_error"
                                    *ngIf="cashLeaveOrderGroup.get('amountcurrency').hasError('required') && cashLeaveOrderGroup.get('amountcurrency').touched"><i
                                        class="material-icons">
                                        close
                                    </i></span>
                            </div>
                        </div>
                        <div class="form_group right">
                            <div class="right_label label">
                                <label for=""><span>*</span> ԱԴՄ-ով</label>
                            </div>
                            <div class="input_wraper adm_wraper">
                                <input type="text" formControlName="ADM">
                                <!-- <p-dropdown formControlName="ADM"></p-dropdown> -->
                                <span class="validate_error"
                                    *ngIf="cashLeaveOrderGroup.get('ADM').hasError('required') && cashLeaveOrderGroup.get('ADM').touched"><i
                                        class="material-icons">
                                        close
                                    </i></span>
                            </div>
                        </div>
                    </div>
                </app-card>
            </div>
            <div class="card">
                <app-card [header]="''">
                    <div class="form_group">
                        <div class="label">
                            <label for=""> Գործընկեր</label>
                        </div>
                        <div class="input input_wraper">
                            <div class="has-add-button-content flex">
                                <app-modal-dropdown [property]="'id'" [inputValue]="setInputValue('partner','name')"
                                    [selectObject]="cashLeaveOrderGroup.get('partner').value"
                                    (setValue)="setValue($event,'partner')" [array]="partners"
                                    [modalParams]="setModalParams('Գործընկերներ','id','Կոդ')">
                                </app-modal-dropdown>
                                <button class="add_button" (click)="addPartner()"><i class="material-icons">
                                        add
                                    </i></button>
                                <span class="selected-element-name"
                                    *ngIf="cashLeaveOrderGroup.get('partner').value">
                                </span>
                                <span class="validate_error"
                                    *ngIf="cashLeaveOrderGroup.get('partner').hasError('required')  && cashLeaveOrderGroup.get('partner').touched"><i
                                        class="material-icons">
                                        close
                                    </i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form_group">
                        <div class="label">
                            <label for=""><span>*</span> Տրամադրել</label>
                        </div>
                        <div class="input_wraper full-dropdown">
                            <app-modal-dropdown [property]="'id'" [inputProperty]="'name'" [inputValue]="setInputValue('provide','name')"
                             [selectObject]="cashLeaveOrderGroup.get('provide').value"
                                (setValue)="setValue($event,'provide')" [array]="partners"
                                [modalParams]="setModalParams('Գործընկերներ','id','Կոդ')">
                            </app-modal-dropdown>
                            <!-- <p-dropdown formControlName="provide"></p-dropdown> -->
                            <span class="validate_error"
                                *ngIf="cashLeaveOrderGroup.get('provide').hasError('required') && cashLeaveOrderGroup.get('provide').touched"><i
                                    class="material-icons">
                                    close
                                </i></span>
                        </div>
                    </div>
                    <div class="form_group">
                        <div class="label">
                            <label for="">Նպ․ նշ․ ծածկագիր</label>
                        </div>
                        <div class="input_wraper full-dropdown">
                            <input formControlName="code" type="text">
                        </div>
                    </div>
                    <div class="form_group">
                        <div class=" label">
                            <label for="">Հիմքը</label>
                        </div>
                        <div class="input_wraper full-dropdown">
                            <input formControlName="base" type="text">

                            <!-- <p-dropdown formControlName="base"></p-dropdown> -->
                        </div>
                    </div>
                    <div class="form_group">
                        <div class=" label">
                            <label for="">Հավելված</label>
                        </div>
                        <div class="input_wraper full-dropdown">
                            <input formControlName="application" type="text">
                            <!-- <p-dropdown formControlName="application"></p-dropdown> -->
                        </div>
                    </div>

                    <div class="form_group">
                        <div class=" label">
                            <label for="">Այլ տեղեկություններ</label>
                        </div>
                        <div class="input_wraper full-dropdown">
                            <input formControlName="otherInfo" type="text">
                        </div>
                    </div>
                </app-card>
            </div>


            <div class="additionally-content">
                <div (click)="openOrCloseAdditionalInfo()" class="additionally">
                    <span>Լրացուցիչ</span>
                    <span><i [ngStyle]="arrowStyle()" class="material-icons">
                            arrow_drop_down
                        </i></span>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="margin-top">
    <app-operation [group]="cashLeaveOrderGroup.get('operation').value" [chartAccounts]="chartAccounts"
        [partners]="partners" [analyticalGroup1]="analyticalGroup1" [analyticalGroup2]="analyticalGroup2"
        [isLock]="true" (setOperationValue)="setOperationValue($event)"></app-operation>
</div>
<div class="buttons">
    <button (click)="save()">Կատարել</button>
    <button (click)="close()">Դադարեցնել</button>
</div>