<app-modal-header [title]="title" (close)="close($event)"></app-modal-header>
<form action="" [formGroup]="materialValuesGroup">
    <div class="first-section">
        <div class="form_group">
            <div class="label">
                <label for=""><span>*</span> Ամսաթիվ</label>
            </div>
            <div class="input_wraper date">
                <p-calendar rPCalendarMask formControlName="date" [placeholder]="'Օր/Ամիս/Տարի'" dateFormat="dd/mm/yy"
                    [locale]="calendarConfig"> </p-calendar>
                <span class="validate_error"
                    *ngIf="materialValuesGroup.get('date').hasError('required') && materialValuesGroup.get('date').touched"><i
                        class="material-icons">
                        close
                    </i></span>
            </div>
        </div>
        <div class="form_group right">
            <div class="right_label label">
                <label for=""><span>*</span> Փաստաթղթի N</label>
            </div>
            <div class="input_wraper order_number">
                <input formControlName="folderNumber" type="text">
                <span class="validate_error"
                    *ngIf="materialValuesGroup.get('folderNumber').hasError('required') && materialValuesGroup.get('folderNumber').touched"><i
                        class="material-icons">
                        close
                    </i></span>
            </div>
        </div>
    </div>
    <div class="other-section">

        <div class="form_group">
            <div class="label">
                <label for=""><span>*</span> Պահեստ</label>
            </div>
            <div class="input_wraper">
                <p-dropdown class="code-input" formControlName="warehouse"></p-dropdown>
                <span class="validate_error"
                    *ngIf="materialValuesGroup.get('warehouse').hasError('required') && materialValuesGroup.get('warehouse').touched"><i
                        class="material-icons">
                        close
                    </i></span>
            </div>
        </div>
        <div class="form_group">
            <div class="label">
                <label for="">ՆԱ խումբ</label>
            </div>
            <div class="input_wraper">
                <p-dropdown class="code-input" formControlName="material_values_group"></p-dropdown>
                <span class="validate_error"
                    *ngIf="materialValuesGroup.get('material_values_group').hasError('required') && materialValuesGroup.get('material_values_group').touched"><i
                        class="material-icons">
                        close
                    </i></span>
            </div>
        </div>
    </div>
</form>
<app-tabs (getActiveTab)="getActiveTab($event)" [tabsItem]="tabsItem">
    <div [ngSwitch]="activeTab">
        <app-material-values-inventory-common *ngSwitchCase="'Ընդհանուր'"></app-material-values-inventory-common>
        <app-commission-member *ngSwitchCase="'Հանձնաժողովի անդամներ'"></app-commission-member>
    </div>
</app-tabs>