<form action="" [formGroup]="commonGroup">
    <app-common-table-header [titles]="taxTitles">
        <tr>
            <td>Մնացորդային օգտակար ժամկետ</td>
            <td>
                <input type="number" formControlName="taxResidualUsefulLifeOld">
                <!-- <p-dropdown formControlName="taxResidualUsefulLifeOld"></p-dropdown> -->
            </td>
            <td>
                <input type="number" formControlName="taxResidualUsefulLifeNew">

                <!-- <p-dropdown formControlName="taxResidualUsefulLifeNew"></p-dropdown> -->
            </td>
        </tr>
        <tr>
            <td>Սկզբնական արժեք</td>
            <td>
                <input type="number" formControlName="taxInitialCostOld">

                <!-- <p-dropdown formControlName="taxInitialCostOld"></p-dropdown> -->
            </td>
            <td>
                <input type="number" formControlName="taxInitialCostNew">

                <!-- <p-dropdown formControlName="taxInitialCostNew"></p-dropdown> -->
            </td>
        </tr>
    </app-common-table-header>


    <app-common-table-header [titles]="financeTitles">
        <tr>
            <td>Մնացորդային օգտակար ժամկետ</td>
            <td>
                <input type="number" formControlName="financeResidualUsefulLifeOld">

                <!-- <p-dropdown formControlName="financeResidualUsefulLifeOld"></p-dropdown> -->
            </td>
            <td>
                <input type="number" formControlName="financeResidualUsefulLifeNew">

                <!-- <p-dropdown formControlName="financeResidualUsefulLifeNew"></p-dropdown> -->
            </td>
        </tr>
        <tr>
            <td>Սկզբնական արժեք</td>
            <td>
                <input type="number" formControlName="financeInitialCostOld">

                <!-- <p-dropdown formControlName="financeInitialCostOld"></p-dropdown> -->
            </td>
            <td>
                <input type="number" formControlName="financeInitialCostNew">

                <!-- <p-dropdown formControlName="financeInitialCostNew"></p-dropdown> -->
            </td>
        </tr>
    </app-common-table-header>

    <app-common-table-header [titles]="revenueTitles">
        <tr>
            <td>Մնացորդային օգտակար ժամկետ</td>
            <td>
                <input type="number" formControlName="revenueResidualUsefulLifeOld">

                <!-- <p-dropdown formControlName="revenueResidualUsefulLifeOld"></p-dropdown> -->
            </td>
            <td>
                <input type="number" formControlName="revenueResidualUsefulLifeNew">

                <!-- <p-dropdown formControlName="revenueResidualUsefulLifeNew"></p-dropdown> -->
            </td>
        </tr>
        <tr>
            <td>Սկզբնական արժեք</td>
            <td>
                <input type="number" formControlName="revenueInitialCostOld">

                <!-- <p-dropdown formControlName="revenueInitialCostOld"></p-dropdown> -->
            </td>
            <td>
                <input type="number" formControlName="revenueInitialCostNew">

                <!-- <p-dropdown formControlName="revenueInitialCostNew"></p-dropdown> -->
            </td>
        </tr>
    </app-common-table-header>
</form>