<div class="t-account">
    <div class="form-group">
        <div class="label">
            <div class="show-required">
                <small> * </small>
            </div> 
            <label for="">Ժամանակահատված</label>
            <p-calendar rPCalendarMask [placeholder]="'Օր/Ամիս/Տարի'" dateFormat="dd/mm/yy"
            [locale]="calendarConfig"></p-calendar>
            <div class="next-error"><span> * </span></div>
            <p-calendar rPCalendarMask [placeholder]="'Օր/Ամիս/Տարի'" dateFormat="dd/mm/yy"
            [locale]="calendarConfig"></p-calendar>
            <div class="calculator">
                <i class="material-icons">home</i>
            </div>
        </div>
        <div class="actions">
            <button class="save"><i class="material-icons">save</i></button>&nbsp;
            <button class="reset"><i class="material-icons">close</i></button>
        </div>
    </div>

    <ng-content select=".form-group .selectedPartners"></ng-content>

    <div class="form-group">
        <div class="label">
            <div class="show-required">
                <small> * </small>
            </div> 
            <label for="">Հաշիվ</label>
            <p-dropdown></p-dropdown>
            <div class="next-error"><span> * </span></div>
        </div>
    </div>

    <div class="form-group">
        <div class="label">
            <div class="show-required">
                <small> * </small>
            </div> 
            <label for="">Արժույթ</label>
            <p-dropdown></p-dropdown>
            <div class="next-error"><span> * </span></div>
        </div>
    </div>

    <div class="form-group">
        <div class="label">
            <div class="show-required">
                <small> * </small>
            </div> 
            <label for="">Հաշվետվության արժույթ</label>
            <p-dropdown></p-dropdown>
            <div class="next-error"><span> * </span></div>
            <span>amd-ov</span>
        </div>
    </div>
    <hr style="margin: 10px;">

    <div class="form-group">
        <div class="label">
            <div class="show-required">
                <small> * </small>
            </div> 
            <label for="">Խմբավորել ըստ թղթակցող հաշվի</label>
            <input type="checkbox">
        </div>
    </div>

    <div class="form-group">
        <div class="label">
            <div class="show-required">
                <small> * </small>
            </div> 
            <label for="">Ցույց տալ մնացորդն օրվա վերյում</label>
            <input type="checkbox">
        </div>
    </div>

    <div class="form-group">
        <div class="label">
            <div class="show-required">
                <small> * </small>
            </div> 
            <label for="">Ցույց տալ ամսական շրջանառությունը</label>
            <input type="checkbox">
        </div>
    </div>

    <ng-content select=".form-group .showPartners"></ng-content>

    <div class="form-group">
        <div class="label">
            <div class="show-required">
                <small> * </small>
            </div> 
            <label for="">Ցույց տալ անալիտիկ խումբ 1</label>
            <input type="checkbox">
        </div>
    </div>

    <div class="form-group">
        <div class="label">
            <div class="show-required">
                <small> * </small>
            </div> 
            <label for="">Ցույց տալ անալիտիկ խումբ 2</label>
            <input type="checkbox">
        </div>
    </div>

    <hr style="margin: 14px;">

    <div class="form-group">
        <div class="label">
            <div class="show-required">
                <small> * </small>
            </div> 
            <label for="">Հին տարբերակ</label>
            <input type="checkbox">
        </div>
    </div>
    <div class="footer-action">
        <button class="border execute">Կատարել</button>
        <button class="border stop">Դադարեցնել</button>
    </div>
</div>