
:host::ng-deep{
    app-modal-dropdown{
      input{
        height: 32px;
        background: none;
        border: 1px solid grey !important;
        border-right: none !important;

       }
    }
  }
.form_group{       
    .label{
        width: 290px;     
    } 
    .checkbox_input_wraper{
        width: fit-content;
        label{
            font-size: 15px;
        }
    }  
    .input_wraper{
        width: calc(100% - 290px);     
    }
}
.total_amount{
    margin-right: 15px;
    .form_group{
        justify-content: flex-end;
        .label{
            width: fit-content !important;    
            margin-right:5px; 
        }     
        .input_wraper{
            width: fit-content !important;
        }
    }
}
  .container-checkbox{
    padding-left: 22px !important;
}
