
.currency-routes {
    border: 1px solid rgba(0, 0, 0, .3);
    margin-top: 25px;
    width: 885px;
    .form-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        .label {
            display: flex;
            .show-required {
                small {
                    align-items: center;
                    height: 100%;
                    display: none;
                }
            }
            label {
                display: flex;
                align-items: center;
                margin: 0 14px;
                width: 300px;

                &:last-child {
                    color: red;
                }
            }
            .calculator {
                display: flex;
                align-items: center;
                margin: 0 14px;
                width: 30px;
            }
            .next-error {
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    color: red;
                    font-size: 24px;
                }
            }
            span {
                display: flex;
                align-items: center;
            }
        }
        .actions {
            margin-right: 10px;
            .save {}
            .reset {}
        }
    }
    .footer-action {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 10px 0;
        .border {
            border: 1px solid rgba(0, 0, 0, .3);
            padding: 5px 25px;
        }
    }
}