.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .close{
        background: grey;
        color: white;
        height: 25px;
        width: 25px;
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}