<div class="verify-container">
    <h3>Veryfy</h3>
    <form class="verify-form" [formGroup]="verifyForm">
 
        <div class="form-group" >
            <label for="password">Password</label>
            <input id="password" formControlName="password" name="password" type="password">
        </div>
        <div class="form-group">
            <label for="re-password">Confirm password</label>
            <input id="re-password" formControlName="rePassword" type="password" >
        </div>
        <div class="action">
            <button class="button" type="submit" (click)="changePassword()">Confirm</button>
        </div>
    </form>
</div> 