<app-modal-header [title]="title" (close)="close($event)"></app-modal-header>

<div class="modal-content">
    <form [formGroup]="salaryDocumentGroup">
        <div class="first-section">
            <div class="form_group">
                <div class="label">
                    <label for=""><span>*</span> Ժամանակահատված</label>
                </div>
                <div class="input_wraper dates">
                    <div class="start-date">
                        <p-calendar rPCalendarMask formControlName="startDate" [placeholder]="'Օր/Ամիս/Տարի'" dateFormat="dd/mm/yy"
                            [locale]="calendarConfig"> </p-calendar>
                        <span class="validate_error"
                            *ngIf="salaryDocumentGroup.get('startDate').hasError('required') && salaryDocumentGroup.get('startDate').touched"><i
                                class="material-icons">
                                close
                            </i></span>
                    </div>

                    <div class="end-date">
                        <p-calendar rPCalendarMask formControlName="endDate" [placeholder]="'Օր/Ամիս/Տարի'" dateFormat="dd/mm/yy"
                            [locale]="calendarConfig"> </p-calendar>
                        <span class="validate_error"
                            *ngIf="salaryDocumentGroup.get('endDate').hasError('required') && salaryDocumentGroup.get('endDate').touched"><i
                                class="material-icons">
                                close
                            </i></span>
                    </div>
                    <div>
                        <button  class="calendar_button">
                            <i class="material-icons">
                                calendar_today
                            </i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form_group right">
                <div>
                    <button>
                        <i class="material-icons">
                            save
                        </i>
                    </button>
                </div>
                <div>
                    <button>
                        <i class="material-icons">
                            clear
                        </i>
                    </button>
                </div>
            </div>
        </div>

        <div class="form_group">
            <div class="label">
                <label for="">Տեսակ</label>
            </div>
            <div class="input_wraper">
                <app-modal-dropdown [inputValue]="salaryDocumentGroup.get('type').value" 
                    (setValue)="setBenefitValue($event,'type','type')" [modalName]="getModalName1"></app-modal-dropdown>
            </div>
        </div>
        <div class="form_group">
            <div class="label">
                <label for="">Աշխատակից</label>
            </div>
            <div class="input_wraper">
                <app-modal-dropdown [inputValue]="salaryDocumentGroup.get('employee').value" 
                    (setValue)="setBenefitValue($event,'employee','name')" [modalName]="getModalName2"></app-modal-dropdown>
            </div>
        </div>
        <div class="form_group">
            <div class="label">
                <label for="">Վիճակ</label>
            </div>
            <div class="input_wraper">
              <p-dropdown formControlName="condition"></p-dropdown>
            </div>
        </div>
        <div class="form_group">
            <div class="label">
                <label for="">Բերել գործառնությունները</label>
            </div>
            <div class="input_wraper">
              <p-dropdown formControlName="allowOperation"></p-dropdown>
            </div>
        </div>
    </form>
    <div class="buttons">
        <button>Կատարել</button>
        <button>Դադարեցնել</button>
    </div>
</div>