.section {
    border: 1px solid grey;
    margin: 10px 10px 10px;

    .section-header {
        height: 30px;
        line-height: 30px;
        border-bottom: 1px solid grey;

        span {
            margin-left: 10px;
        }
    }

    .section-body {
        margin: 12px;

        .form_group{       
            .required::before{
                content: '*';
                color: red;
            }
            .label{
                width: 250px;    
            }  
            .input_wraper{       
                width: calc(100% - 250px);
                .code-input{
                    width: 30%;
                }
                .name-input{
                    width: 85%;
                }                 
              
            }
        }
    }
}

.first-section{
    display: flex;
    align-items: center;
}

.right{
    margin-left: 25px;
    .right_label{
        width: fit-content;   
        // margin-right: 5px;  
        label{
            font-size: 15px;                
        }     
    } 
    
}
h2 {
    color: rgba(80,80,80, 0.5);
}